@import url("https://clearvision.github.io/ClearVision-v7/main.css");
@import url("https://clearvision.github.io/ClearVision-v7/betterdiscord.css");
@import url("https://clearvision.github.io/ClearVision-v7/vencord.css");

:root {
  --main-color: #d66a8c; 
  --hover-color: #c47b92;
  
  --success-color: #72d1d8;
  --danger-color: #e57373;

  --online-color: #88d498;
  --idle-color: #f9e090;
  --dnd-color: #e57373;
  --streaming-color: #9b84ee;
  --offline-color: #808080;

  --background-shading-percent: 80%;
  --background-image: url(https://r4.wallpaperflare.com/wallpaper/355/929/151/femboy-fate-apocrypha-astolfo-fate-apocrypha-digital-picture-in-picture-hd-wallpaper-039056f1529ffd82b6119f6319954a5e.jpg);
  --background-position: center;
  --background-size: cover;
  --background-attachment: fixed;
  --background-filter: saturate(calc(var(--saturation-factor, 1) * 1)) blur(4px);

  --user-popout-image: var(--background-image);
  --user-popout-position: var(--background-position);
  --user-popout-size: var(--background-size);
  --user-popout-attachment: var(--background-attachment);
  --user-popout-filter: var(--background-filter);

  --user-modal-image: var(--background-image);
  --user-modal-position: var(--background-position);
  --user-modal-size: var(--background-size);
  --user-modal-attachment: var(--background-attachment);
  --user-modal-filter: var(--background-filter);

  --home-icon: url(https://clearvision.github.io/icons/discord.svg);
  --home-size: cover;

  --main-font: "gg sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --code-font: Consolas, "gg mono", "Liberation Mono", Menlo, Courier, monospace;

  --channel-normal: var(--interactive-text-default);
  --channel-muted: var(--interactive-muted);
  --channel-hover: var(--interactive-text-hover);
  --channel-selected: var(--interactive-text-active);
  --channel-selected-bg: var(--main-color);
  --channel-unread: var(--main-color);
  --channel-unread-hover: var(--hover-color);

  --focus-color: var(--main-color);
}

:is(.theme-light, .theme-dark .theme-light) {
  --background-shading: rgba(255, 255, 255, 0.25);
  --card-shading: rgba(255, 255, 255, 0.25);
  --popout-shading: rgba(255, 255, 255, 0.65);
  --modal-shading: rgba(255, 255, 255, 0.45);
  --input-shading: rgba(0, 0, 0, 0.08);
  --normal-text: #36363c;
  --muted-text: #75757e;
}

:is(.theme-dark, .theme-light .theme-dark) {
  --background-shading: rgba(0, 0, 0, 0.45);
  --card-shading: rgba(0, 0, 0, 0.25);
  --popout-shading: rgba(0, 0, 0, 0.65);
  --modal-shading: rgba(0, 0, 0, 0.45);
  --input-shading: rgba(255, 255, 255, 0.05);
  --normal-text: #e0e0e3;
  --muted-text: #b5b5ba;
}

:is(.theme-midnight, .theme-light .theme-midnight) {
  --background-shading: rgba(10, 15, 25, 0.85);
  --card-shading: rgba(0, 0, 0, 0.4);
  --popout-shading: rgba(10, 15, 25, 0.85);
  --modal-shading: rgba(10, 15, 25, 0.65);
  --input-shading: rgba(255, 255, 255, 0.05);
  --normal-text: #e1e1e3;
  --muted-text: #8e8e96;
}
